<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>HelloWorld</servlet-name>
  	<display-name>HelloWorld</display-name>
  	<description></description>
  	<servlet-class>ru.tsystems.tsproject.tms.HelloWorld</servlet-class>
  </servlet>

  <servlet-mapping>
  	<servlet-name>HelloWorld</servlet-name>
  	<url-pattern>/HelloWorld</url-pattern>
  </servlet-mapping>

    <servlet>
        <servlet-name>RegNewWagon</servlet-name>
        <display-name>RegNewWagon</display-name>
        <description></description>
        <servlet-class>ru.tsystems.tsproject.tms.model.RegNewWagonServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>RegNewWagon</servlet-name>
        <url-pattern>/RegNewWagon</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddNewDriver</servlet-name>
        <display-name>AddNewDriver</display-name>
        <description></description>
        <servlet-class>ru.tsystems.tsproject.tms.model.AddNewDriverServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AddNewDriver</servlet-name>
        <url-pattern>/AddNewDriver</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddNewOrder</servlet-name>
        <display-name>AddNewOrder</display-name>
        <description></description>
        <servlet-class>ru.tsystems.tsproject.tms.model.AddNewOrderServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AddNewOrder</servlet-name>
        <url-pattern>/AddNewOrder</url-pattern>
    </servlet-mapping>

</web-app>
